/* custom.css */

/* Code block style */
body {
  font-family: '宋体', 'SimSun', sans-serif;
}

/* 设置英文字体为 Times New Roman */
body p, body li, body pre, body code {
  font-family: 'Times New Roman', Times, serif;
}
a {
  text-decoration: none;
}
/* 设置行距为1.5倍 */
body {
    /*transform: scale(1.15);*/
  /*transform-origin: 0 0; !* 设置变换原点为左上角 *!*/
  /*  zoom: 125%;*/
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: '黑体', 'SimHei', sans-serif;
  font-weight: bold;
}
/* 设置页面内容宽度相对于视窗宽度，并保证最小字体大小 */
.markdown-section {
  width: 80vw; /* 相对于视窗宽度的80% */
  margin: 0 auto; /* 居中显示 */
  font-size: 18px; /* 字体大小最小为1.2vw或16px，取其中较大者 */
}
/* 设置表格中的汉字为黑体 */
.markdown-section table td, .markdown-section table th {
  font-family: 'Times New Roman', 'SimHei', sans-serif;
}
/*.katex {*/
/*    border: 1px solid #2bbd2b; !* 设置边框样式 *!*/
/*    padding: 8px; !* 设置内边距 *!*/
/*    margin: 8px 0; !* 设置外边距 *!*/
/*    border-radius: 5px; !* 设置边框圆角 *!*/
/*    box-shadow: 0 0 5px rgb(32, 29, 110); !* 设置阴影效果 *!*/
/*}*/
/* 调整 KaTeX 生成的公式的大小 */

.katex-display {
    font-size: 1em; /* 设置 displaystyle 的大小 */
}

.katex {
    font-size: 1em; /* 设置默认大小 */
}

.katex-text {
    font-size: 1em; /* 设置 textstyle 的大小 */
}

.katex-script {
    font-size: 0.7em; /* 设置 scriptstyle 的大小 */
}

.katex-scriptscript {
    font-size: 0.6em; /* 设置 scriptscriptstyle 的大小 */
}
.markdown-section pre {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    padding: 12px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.5;
    overflow-x: auto; /* 添加水平滚动条 */
}

/* Remove the underline below each line in the code block */
.markdown-section code {
    border: none !important;
}
